<link type="text/css" rel="stylesheet" href="../../static/Content/Hotels/RoomShortInfo.css" />

<div class="row">
    <div class="col-md-4">
        <div data-bind="if: Equipments().length>0">
            <span class="glyphicon glyphicon-lamp"></span><b> Equipments:</b>
            <br />
            <div class="col-md-offset-1" data-bind="foreach: Equipments">
                -<span data-bind="text: $data"></span>
                <br />
            </div>
        </div>
        <div>
            <span class="glyphicon glyphicon-user"></span> <b>Max number of persons: </b>
            <span data-bind="text: MaxPeople"></span>
        </div>
        <div data-bind="if: WindowView">
            <span class="glyphicon glyphicon-picture"></span><b> View: </b>
            <span data-bind="text: WindowView"></span>
        </div>
    </div>
    <div class="col-md-8">
        <div data-bind="if: RoomPhotos.length>0">
            <img data-bind="attr: {src:RoomPhotos[0].PhotoLink}" class="img-rounded img-responsive" />
        </div>
        <div data-bind="if: RoomPhotos.length===0">
            <img src="../../static/Content/img/default.png" class="img-responsive" />
        </div>
    </div>
</div>

<script type="text/javascript" src="../../static/Scripts/Hotels/RoomShortInfo.js"></script>