@*@Styles.Render("~/Content/css")*@

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" />
<link href="~/Content/creative.css" rel="stylesheet" />

@*@Scripts.Render("~/bundles/jquery")*@

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.12.4.js"></script>


@*@Scripts.Render("~/bundles/jqueryui")*@
<script src="~/Scripts/jquery-ui-1.12.0.js"></script>

@*@Scripts.Render("~/bundles/bootstrap")*@

<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/respond.js"></script>
<script src="~/Scripts/select2.js"></script>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>7 Wonders</title>
</head>

<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" data-bind="with: currentUserModelObject">
        <div id="mainNav1" class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#/home">7 wonders</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#/home">Home</a></li>
					<li><a href="#/contact">Contact</a></li>

                    
					        <li data-bind="if: visibleForAdmins()"><a href="#/customers">Customers</a></li>
					        <li data-bind="if: visibleForAdmins()"><a href="#/managers">Managers</a></li>


                    
					        <li data-bind="if: visibleForManagers()"><a href="#/countries">Countries</a></li>
					        <li data-bind="if: visibleForManagers()"><a href="#/flights">Flights</a></li>


                </ul>
                <div style="margin-right:1%">

                            <ul class="nav navbar-nav navbar-right" id="loggedNavbar">

                                    <li id="customerCabinetLink" data-bind="if: visibleForCustomers()">
                                        <a href="#/cabinet" id="cabinetLink">Cabinet</a>
                                    </li>

                                <li><a href="#/logout" data-bind="if: !visibleForGuests()">Log off</a></li>
                            </ul>

                        <ul class="nav navbar-nav navbar-right" id="notLoggedNavbar" data-bind="if: visibleForGuests()">
                            <li><a href="#/register" id="registerLink">Register</a></li>
                            <li><a href="#/login" id="loginLink">Log in</a></li>
                        </ul>
                </div>
            </div>
        </div>
    </nav>
    <div id="mainDiv">        
    </div>
    <script src="~/Scripts/knockout-3.1.0.js"></script>
    <script src="~/Scripts/Home/Index.js"></script>
</body>
</html>

<script src="../../Scripts/Search/Index.js"></script>
<script src="../../Scripts/Tours/Index.js"></script>

<script src="../../Scripts/sammy-0.7.5.js"></script>

<script>
    (function ($) {
        var app = $.sammy('#mainDiv', function () {
            this.debug = true;
            var form_fields = null;

            this.get('#/home', function () {
                this.partial('/Views/Home/HomePage.html');
                ko.applyBindings(FakeModel);
                ko.applyBindings(currentUserModelObject);
                currentUserModelObject.updateCurrentUser();
            });

            this.get('#/register', function () {
                this.partial('/Views/Account/Register.html');
            });

            this.get('#/login', function () {
				this.partial('/Views/Account/Login.html');
            });

            this.get('#/logout', function () {
                var self = this;
                $.ajax({
                    url: "/Home/Logout",
                    type: "POST",
                    success: function()
                    {
                        window.location.href = "#/home";
                        location.reload(true);
                    }
                })
            });

			this.get('#/contact', function () {
				this.partial('/Views/Home/Contact.html');
			});

			this.get('#/cabinet', function () {
			    this.partial('/Views/CustomerCabinet/Index.html');
			});

			this.get('#/customers', function () {
				this.partial('/Views/CustomersManagement/Index.html');
			});

			this.get('#/managers', function () {
				this.partial('/Views/ManagersManagement/Index.html');
			});

			this.get('#/flights', function () {
				this.partial('/Views/Flights/Index.html');
			});

			this.get('#/countries', function () {
				this.partial('/Views/Countries/Index.html');
			});
			
        });

        $(function () {
            app.run('#/home');
        });

    })(jQuery);

    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
	});

    $(window).on('resize', function () {

        var width = $(window).width();

        if (width < 975) {
            $('header').height('1200px');
        }
        else {
            $('header').height('840px');
        }

        if ($('#mainNav').height() == 100) {
            document.body.style.paddingTop = '100px'
        }
        else if ($('#mainNav').height() == 150) {
            document.body.style.paddingTop = '150px'
        }
        else if ($('#mainNav').height() == 200) {
            document.body.style.paddingTop = '200px'
        }
        else {
            document.body.style.paddingTop = '50px'
        }
    }).trigger('resize');
    </script>