
    <h2 class="text-center" id="foundedTours">Choose the best tour for you</h2>
    <div id="tours">
        FUUUUUUUUUUUUUUUUCKS
    </div>
        <div id="modalDetail">
        </div>
<script>
    function FoodChange(id, i, priceWithFood, priceWithoutFood)
    {
        var checkBox = '#Food' + id + i;
        var price = '#' + id + 'price'+i;
        var checked = $(checkBox).is(':checked')

        var pr="";
        if(checked)
        {
            pr = priceWithFood.toString();
        }
        else
        {
            pr = priceWithoutFood.toString();
        }

        if (pr.indexOf('.') == -1)
        {
            pr = pr + ".00";
        }
        if ((pr.indexOf('.') == pr.length - 2))
        {
            pr = pr + "0";
        }
        $(price).text(pr);

    }

    function HotelDetails(hotelId)
    {
        $.ajax({
            type: 'GET',
            url: '/Home/GetHotelDetailModal',
            data: {
                'hotelId': hotelId
            },
            success: function(result) {

                $("#modalDetail").html(result)
                $('#hotelDetailsModal').modal('show', { backdrop: 'static' });
                $('#hotelDetailsModal').on('shown.bs.modal', function () {})
            }
        });
    }

    function RoomDetails(roomId)
    {
        $.ajax({
            type: 'GET',
            url: '/Home/GetRoomDetailModal',
            data: {
                'roomId': roomId
            },
            success: function(result) {

                $("#modalDetail").html(result)
                $('#roomDetailsModal').modal('show', { backdrop: 'static' });
                $('#roomDetailsModal').on('shown.bs.modal', function () {})
            }
        });
    }

    function FlightDetails(leaveFlight,returnFlight,leaveDate,returnDate)
    {
        $.ajax({
            type: 'GET',
            url: '/Home/GetFlightDetailModal',
            data: {
                'leaveFlightId': leaveFlight,
                'returnFlightId': returnFlight,
                'leaveDate': leaveDate,
                'returnDate': returnDate
            },
            success: function(result) {

                $("#modalDetail").html(result)
                $('#flightDetailsModal').modal('show', { backdrop: 'static' });
                $('#flightDetailsModal').on('shown.bs.modal', function () {})
            }
        });
    }

    function HotelReviews(hotelId)
    {
        $.ajax({
            type: 'GET',
            url: '/Home/GetHotelReviewsModal',
            data: {
                'hotelId': hotelId
            },
            success: function(result) {

                $("#modalDetail").html(result)
                $('#hotelReviewsModal').modal('show', { backdrop: 'static' });
                $('#hotelReviewsModal').on('shown.bs.modal', function () {})
            }
        });
    }

    
</script>

@Scripts.Render("~/scripts/Tours/Index.js")