<br />
<br />

<div class="container col-md-4 col-md-offset-4">
    <div class="well well-sm col-md-9 col-md-offset-1">
            <legend class="text-center"><i class="glyphicon glyphicon glyphicon-user"></i> Log in</legend>
            <div align="center" style="display:none" id="badPassword"> 
                <b style="color:red"> Incorrect login or password! </b>
            </div>
        <div align="center" style="display:none" id="emptyEntrance">
            <b style="color:red"> Login or password cannot be empty! </b>
        </div>
            <div align="center">
                <div class="form-group">
                    <input id="email" class="form-control" placeholder="Email" />
                </div>
                <div class="form-group">
                    <input id="password" class="form-control" type="password" placeholder="Password" />
                </div>
            </div>
            <div>
                <div class="small text-center">
                    <input id="rememberMe" type="checkbox" /> Remember me
                </div>
                <div class="text-center">
                    <button type="submit" value="Log in" class="btn btn-primary" onclick="login()">Log in</button>
                </div>
                
            </div>
    </div>
</div>

<script type="text/javascript" src="../../static/Scripts/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../../static/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="../../static/Scripts/Account/Login/Index.js"></script>