<link type="text/css" rel="stylesheet" href="../../static/Content/themes/base/all.css"/><br />
<br />

<div class="container col-md-4 col-md-offset-4">
    <div class="well well-sm col-md-9 col-md-offset-1">
            <legend class="text-center"><i class="glyphicon glyphicon-globe"></i> Create a new account!</legend>
            <div align="center">
                <div align="center" style="display:none" id="noMatch">
                    <b style="color:red"> Passwords should match! </b>
                </div>
                <div align="center" style="display:none" id="emptyEntrance">
                    <b style="color:red"> None of the fields should be empty! </b>
                </div>
                <div>
                    <input id="firstName" class="form-control" placeholder="First name"/> 
                </div>
                <br />
                <div>
                    <input id="lastName" class="form-control" placeholder="Last name" />
                </div>
                <br />
                <div>
                    <input id="dateOfBirth" class="form-control datepicker" placeholder="Date of birth" type="datetime"/>
                </div>
                <br />
                <div>
                    <input id="phoneNumber" class="form-control" placeholder="Phone number" type="number" />
                </div>
                <br />
                <div>
                    <input id="email" class="form-control" placeholder="Email" type="email" />
                </div>
                <br />
                <div>
                    <input id="password" class="form-control" type="password" placeholder="Password" />
                </div>
                <br />
                <div>
                    <input id="confirmPassword" class="form-control" type="password" placeholder="Confirm password" />
                </div>
                <br />
                <div id="serverErrors" style="display:none; color:red">
                    <b id="serverErrorsString" style="color:red">  </b>
                </div>
                <br />
            </div>
            <div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" onclick="register()">Register</button>
                </div>
            </div>
    </div>
</div>

<script type="text/javascript" src="../../static/Scripts/jquery-ui-1.12.0.js"></script>
<script type="text/javascript" src="../../static/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="../../static/Scripts/Account/Register/Index.js"></script>

<script>
    $(function () {
        var $j = jQuery.noConflict();
        $j(".datepicker").datepicker();
    });
    </script>