<h2 class="text-center" id="foundedTours">Choose the best tour for you</h2>




<script type="text/javascript" src="../../Scripts/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../../Scripts/bootstrap.js"></script>
<script type="text/javascript" src="../../Scripts/knockout-3.1.0.js"></script>
<script type="text/javascript" src="../../Scripts/knockout.validation.min.js"></script>
<script src="../../Scripts/sammy-0.7.5.js"></script>
<script type="text/javascript" src="../../Scripts/Search/Booking.js"></script>