<h2 class="text-center" id="foundedTours">Choose the best tour for you</h2>
<div >
    <div class="col-md-10 col-md-offset-1 hotelsInfo">
        <div class="col-md-5" style="margin-top:3%;">
            @if (Model[i].Hotel.HotelsPhotos != null && Model[i].Hotel.HotelsPhotos.Count != 0)
            {
            <img src=@Href(Model[i].Hotel.HotelsPhotos[0].PhotoLink) alt="picture tour 1" class="img-responsive" />
            }
            else
            {
            <img src="~/Content/img/default.png" alt="picture hotel" />
            }
        </div>
        <div class="col-md-7" style="margin-top:1%;">
            <div class="row">

                <div class="col-md-9">
                    <h3>@Model[i].Hotel.Name</h3>
                    <div>
                        <span class="glyphicon glyphicon-user toursGlyphicons"></span> <b>People: </b> @Model[i].Reservation.PersonAmount
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-arrow-right toursGlyphicons"></span> <b>Flight: </b> @Model[i].Reservation.LeaveFlight.Number @Model[i].Reservation.LeaveFlight.DepartureAirport.City.Name - @Model[i].Reservation.LeaveFlight.ArrivalAirport.City.Name
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-calendar toursGlyphicons"></span> <b>Leave date: </b>@Model[i].Reservation.LeaveDate.Date.ToShortDateString()
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-arrow-left toursGlyphicons"></span> <b>Flight: </b> @Model[i].Reservation.ReturnFlight.Number @Model[i].Reservation.ReturnFlight.DepartureAirport.City.Name - @Model[i].Reservation.ReturnFlight.ArrivalAirport.City.Name
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-calendar toursGlyphicons"></span> <b>Return date: </b> @Model[i].Reservation.ReturnDate.Date.ToShortDateString()
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-cutlery toursGlyphicons"></span> <b>Food type: </b> @Model[i].Hotel.FoodType.Name
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-map-marker toursGlyphicons"></span> <b>Hotel location: </b>@Model[i].Hotel.Adress
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-bed toursGlyphicons"></span> <b>Number of available room types:</b>@Model[i].Rooms.Count
                    </div>
                    <br />
                </div>
                <div class="col-md-3">
                    <div>
                        <h3>From: </h3>
                        <h3>$@Model[i].MinPrice</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin-bottom: 3%">
            <br />
            <button type="button" class="btn btn-default" onclick="FlightDetails(
                        @Model[i].Reservation.LeaveFlight.Id,
                        @Model[i].Reservation.ReturnFlight.Id,
                        '@Model[i].Reservation.LeaveDate',
                        '@Model[i].Reservation.ReturnDate')">
                <span class="glyphicon glyphicon-plane"></span> Flights detail
            </button>

            <button type="button" class="btn btn-default" onclick="HotelDetails(@Model[i].Hotel.Id)"><span class="glyphicon glyphicon-home"></span> Hotel detail</button>
            @*<button type="button" class="btn btn-default" onclick="HotelReviews(@Model[i].Hotel.Id)"><span class="glyphicon glyphicon-comment"></span> Hotels reviews</button>*@
            <div style="padding: 2%;">
                <br />
                @for (int index = 0; index < Model[i].Rooms.Count(); ++index)
                {
                <div class="col-md-12 roomsInfo" style="border:groove; margin-top:1%;">
                    <div>
                        <div class="warning" onclick="RoomDetails(@Model[i].Rooms[index].Id )">
                            <strong>@Model[i].Rooms[index].RoomType.Name</strong>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-3" style="padding-bottom:5px;">
                            @if (Model[i].Rooms[index].RoomsPhotos != null && Model[i].Rooms[index].RoomsPhotos.Count != 0)
                            {
                            <img src=@Href(Model[i].Rooms[index].RoomsPhotos[0].photoLink) alt=@Model[i].Rooms[index].RoomType.Name class="img-responsive" />
                            }
                            else
                            {
                            <img src="~/Content/img/default.png" alt="picture hotel" />
                            }
                        </div>
                        <div class="col-md-3">
                            @if (@Model[i].Rooms[index].Equipments != null)
                            {
                            <span class="glyphicon glyphicon-cog"></span><b> Equipment:</b>
                            <br />
                            <div class="col-md-offset-1">
                                @foreach (var equipment in @Model[i].Rooms[index].Equipments)
                                {
                                @equipment.Name
                                <br />
                                }
                            </div>
                            }
                        </div>

                        <div class="col-md-3">
                            @if (@Model[i].Rooms[index].WindowView != "" || @Model[i].Rooms[index].WindowView != null)
                            {
                            <span class="glyphicon glyphicon-picture"></span><b> View: </b>@Model[i].Rooms[index].WindowView
                            }
                            <br />
                            <span class="glyphicon glyphicon-user"></span><b> Persons max number: </b>@Model[i].Rooms[index].MaxPeople
                            <br />
                            <span class="glyphicon glyphicon-cutlery"></span><b> Food: </b>@Html.CheckBoxFor(m => m[i].Food, new { @id = "Food" + @index.ToString() + @i.ToString(), @onchange = String.Join("", new string[] { "FoodChange(", @index.ToString(), ",", @i.ToString(), ",", Model[i].TotalPrices[index].ToString(), ",", Model[i].PricesWithoutFood[index].ToString(), ")" }) })
                        </div>

                        <div class="col-md-3">
                            <div class="col-md-8">
                                <b>Total price: </b><div id="@index.ToString().Insert(@index.ToString().Count(), " price" + @i.ToString())">@Model[i].TotalPrices[index].ToString()</div>
                            </div>
                            <div class="col-md-3" align="center">
                                <button type="button" data-toggle="modal" data-target="#@i.ToString().Insert(@i.ToString().Count(), " BookModal" + index.ToString())" class="btn btn-primary">Book</button>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- BookModal -->
                <div class="modal fade" id="@i.ToString().Insert(@i.ToString().Count(), " BookModal" + index.ToString())" role="dialog">
                    <div class="modal-dialog modal-sm " style="color:black;">
                        <div class="modal-content col-md-12">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"></h4>

                            </div>
                            <div class="modal-body col-md-12">
                                Do you want to include food?
                            </div>
                            <div class="modal-footer col-md-12">
                                @Html.ActionLink("Yes", "ConfirmTour", new { leaveFlightId = Model[i].Reservation.LeaveFlight.Id, returnFlightId = Model[i].Reservation.ReturnFlight.Id, leaveDate = Model[i].Reservation.LeaveDate, returnDate = Model[i].Reservation.ReturnDate, personsAmount = Model[i].Reservation.PersonAmount, roomId = Model[i].Rooms[index].Id, foodInclude = true, totalPrice = Model[i].TotalPrices[index], duration = Model[i].Duration }, new { @class = "btn btn-default" })
                                @Html.ActionLink("No", "ConfirmTour", new { leaveFlightId = Model[i].Reservation.LeaveFlight.Id, returnFlightId = Model[i].Reservation.ReturnFlight.Id, leaveDate = Model[i].Reservation.LeaveDate, returnDate = Model[i].Reservation.ReturnDate, personsAmount = Model[i].Reservation.PersonAmount, roomId = Model[i].Rooms[index].Id, foodInclude = false, totalPrice = Model[i].PricesWithoutFood[index], duration = Model[i].Duration }, new { @class = "btn btn-default" })
                            </div>
                        </div>

                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    <div id="modalDetail">
    </div>
</div>

