<link type="text/css" rel="stylesheet" href="../../static/Content/CustomersManagement/Index.css" />

<div class="col-md-10 col-md-offset-1">
	<h3 class="text-center">Customers</h3>
	<br />
	<table class="table table-striped table-bordered" id="customersTable" cellspacing="0">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Phone</th>
				<th>Email</th>
				<th>Date Of Birth</th>
				<th>Status</th>
				<th></th>
			</tr>
		</thead>
	</table>
</div>

<script type="text/javascript" src="../../static/Scripts/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../../static/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="../../static/Scripts/CustomersManagement/Index.js"></script>
<script type="text/javascript" src="../../static/Scripts/Statistic.js"></script>
<script type="text/javascript" src="../../static/Scripts/Table.js"></script>




